[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
voicemeeter = {path = "./../voicemeeter-remote-python"}
flask-json = "*"
flask-cors = "*"
gevent = "*"

[dev-packages]

[requires]
python_version = "3.9"
